### Print Helloworld

In [2]:
print("Hello")
print("Hello")
10

Hello
Hello

10

### Variables

In [3]:
a = 10
b = 20

sum = a + b
abc = 10
print('sum')
print(abc)

sum
10

### Variable naming

You cant start with digits

In [4]:
ab_c1 = 10
_ss = 2
# 12cd = 20

### assigning different type of data to a variable

In [5]:
a = 10
a = 20
a = "hthths"
a

'hthths'

In [6]:
a = "abc"
print(type(a))
a = 10
print(type(a))

<class 'str'>
<class 'int'>

### Python Numbers

In [7]:
a1 = 23
a2 = 3.4
a3 = 4 + 5j
print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [8]:
a = 10
print(id(a))
a = a + 1
print(id(a))
a

4442610000
4442610032

11

In [9]:
a = 100
b = 100
print(id(a))
print(id(b))

4442612880
4442612880

In [10]:
a = 1000
b = 1000
print(id(a))
print(id(b))

4485117520
4485117296

### Arithmatic Operators

In [16]:
a = 10
b = 4
print(a - b)
print(a + b)

6
14

In [17]:
a * b

40

In [18]:
a / b # floating point division

2.5

In [20]:
a//b # integer division

2

In [23]:
a**b # exponentiation

10000

In [25]:
a % b

2

In [27]:
2 + 3 * 4 # 14 or 20

14

In [29]:
2 * 3 / 4 # doesn't matter what operation is done first

1.5

In [31]:
(2 * 3) // 4

1

In [39]:
# simple interest to lower integer
p = 100
r = 12
t = 2
# si = p * r * t // 100
#si = t//100 * r * p
si = (p * r * t)//100
si

24

In [43]:
# fah to celcium conversion
f = 100
c = (f - 32) * 5/9
print(c)
ci = (f - 32) * 5//9
print(ci)

37.77777777777778
37